@import "reset.scss";
/*Начало*/
body{
	font-family: 'Montserrat', sans-serif;
}
.header {
	width: 100%;
	height: 100%;
	min-height: 100px;
	background: #000;
	display: flex;
	align-items: center;
	&__container-menu {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.container-menu {
	&__logo {
		width: 70px;
		height: 70px;
	}
}
.logo {
	width: 100%;
}
.nav {
	&__list {
		display: flex;
	}
}
.link__a {
	margin: 0 20px;
	color:#fff;
	text-decoration: none;
	font-size: 14px;
	&:hover:not(first-child){
		color:#E3A223;
	}
}
.Activ {
	font-weight: bold;
	color:#E3A223;
	text-decoration: none;
	margin: 0 20px;
}
.contact {
		display: flex;
		align-items: center;
	&__number {
		color:#fff;
		font-size: 14;
		font-weight: bold;
		padding: 0 0 0 10px;
	}
}
.user-menu {
	display: flex;
	align-items: center;
	&__back {
		width: 100%;
		height: 100%;
		min-width: 49px;
		min-height: 49px;
		background: #fff;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__trg {
		margin:0 0 0 10px;
	}
}
.back__name {
	font-size: 24px;
	font-weight: bold;
	color:#000;
}
.background {
	background: #367DBE;
	padding: 10px 0;
}
.container2 {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	background: #B8F2EB;
	border-radius: 20px;
	overflow: hidden;
}
.main-section {
	&__block0 {
		display:flex;
		margin: 0 0 0 100px;
		padding:200px 0 200px 0;
		align-items: center;
	}
	&__block1 {
	}
	&__block2 {
	}
}
.block1 {
	&__title {
		font-size: 48px;
		font-weight: bold;
		color:#000;
		&_red {
			color:#FF0000;
		}
	}
	&__subtitle {
		font-size: 15px;
		line-height: 25px;
		padding:20px 0;
	}
	&__button-back {
		width: 300px;
		height: 60px;
		background: #000;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__link {
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		color:#fff;
	}
}
.block2 {
	&__back {
		width: 500px;
		height: 475px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #FFFFC0;
		border-radius:100%;
		box-shadow: 0 15px 70px #FFFF98;
	}
}
.section-select {
	&__title {
		font-size: 48px;
		font-weight: bold;
		color:#000;
		display: flex;
		justify-content: center;
		padding:0 0 85px 0;
	}
	&__block0 {
		width: 100%;
		min-height: 275px;
		background: #fff;
		border: 1px solid #A5A5A5;
		border-radius: 35px;
	}
	&__block1 {
	}
}
.select-block0 {
	&__subtitle {
		font-size: 18px;
		font-weight: bold;
		color:#000;
		display: flex;
		justify-content: center;
		padding:18px 0;
	}
}
.first-line {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 0 42px 0;
	&__select {
		margin:0 20px;
	}
	&__btn {
		width: 100%;
		max-width: 126px;
		min-width: 126px;
		height: 100%;
		min-height: 60px;
		border-radius: 15px;
		background: #FF5353;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		font-family: inherit; 
	}
}
.first-line:last-child {
	margin: 0;
} 

.select {
	position: relative;
		&::after{
		content: "";
		display: inline-block;
		border-style: solid;
		border-width: 9px 6px 0 6px;
		border-color: #000000 transparent transparent transparent;

		position:absolute;
		top: 50%;
		right: 1rem;
		margin:-4px 0 0 0;
	}
	&__form {
		display: flex;
		align-items:center;
		width: 100%;
		min-width: 126px;
		padding: 25px 25px 25px 20px;
		background: none;
		border: 1px solid #cecece;
		-webkit-appearance: none;
		appearance: none;

		font-family: inherit;
		font-size: 12px;
		color:#000;
	}
}
.sorting {
	& .block-sorting2__svg-icon-menu{
		cursor: pointer;
	}
	&__line-grey {
		border:1px solid #A5A5A5;
		opacity: .8;
		margin:12px 0;
	}
	&__container {
		width: 870px;
		margin: 0 auto;
		display: flex;
		align-items:center;
		justify-content: space-between;
	}
	&__block1 {
		display: flex;
		align-items: center;
		& h4{
			font-size: 14px;
			color: #000;
			padding: 0 15px;
		}
	}
	&__block2 {
		display: flex;
		align-items: center;
		& img.block-sorting2__svg-icon-menu:not(:first-child){
			margin:0 0 0 20px;
		}
	}
}

